/* IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

/* VARIABLES*/
:root {
    /* Palette*/

    --primary: #d09494;
    --secondary: #cda03f;
    --light: #fffbfb;
    --accent: #8ca028;

    /* Font Sizes */

    --text-xxl: 4.8em;
    --text-xl: 3.6em;
    --text-lg: 3.2em;
    --text-md: 2.2em;
    --text-sm: 1.6em;
    --text-xs: 1.2em;

    /* Spacings */

    --sp-xxl: 12rem;
    --sp-xl: 8rem;
    --sp-lg: 5rem;
    --sp-md: 1rem;
    --sp-sm: 1.2rem;
    --sp-xs: 0.7rem;
    /* Variables de espaciado */
  --spacer-2xs: 2px;
  --spacer-xs: 5px;
  --spacer-s: 10px;
  --spacer-m: 20px;
  --spacer-l: 40px;
  --spacer-xl: 80px;
  --spacer-2xl: 160px;
}

     
*{margin: 0;
padding: 0;
overflow-x: hidden;
box-sizing: border-box;
font-family: 'Poppins', sans-serif
}

html{ font-size: 70.5%;}
ul{ list-style-type: none;}

a{ font-size: var(--text-sm) ;
    text-decoration: none;
    color: var(--light)
}

/* bodys */
.body{
    font-size: var(--text-md);
    color: var(--accent);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

     }

.fondo{ margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image:url(../image/fondopagina/contacto.jpg);   
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center;
    
    ;}

.fondohistoria{ 
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-image:url(../image/fondopagina/contacto.jpg);   
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center;
    }



/* header */

header{
    padding: var(--sp-sm);
    background-color: var(--primary) ;
    min-height: 70px;
}
.navbar {display: flex;
justify-content:space-between;
align-items: center;
flex-wrap: wrap;
}



.menu{display: flex;
gap: 1rem;
flex-wrap: wrap;}

.menu .menu__item{ font-weight: 600;
     padding-right: 10px ; }

ul li a:hover {
   color:#d44f4f;
}



/* header */




 /* textos */
p{font-size: var(--sp-sm); color: var(--light);}
.title{  font-size: var(--text-lg) ; color: var(--secondary);}
.subtitle{color: var(--secondary);}
h4 {color: var(--secondary);}
h3{ color: var(--light)}
h2{ color: var(--secondary); text-align: center;}
 /* textos */


/* main */

/* main index*/
.bannerindex-container{ 
    background-image:url(../image/Index/pasti2.jpg); 
    background-position: center top; 
    background-size: cover; 
    width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: inherit;
    z-index: 20;}
/* main index*/

/* main historia*/


.grid-historia{
    display: grid;
    
    grid-template-columns: repeat( 4, 1fr 1fr );
    grid-template-rows: repeat( 4, ) ;
    align-items: center;
    }

    .titlegrid{grid-column: 4/ span 7;
                background-position: center;}
    
    .texto1{grid-column: 2/span 2;}
    .texto2{grid-column: 2/span 9}
    .fotohisto{grid-column:  span 5; 
    background-size: cover;
    height: 279px;
    padding-left: 15%;


    }
/* main historia */

/* Footer */
.footer{
    background-color: var(--primary);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
    
}
.Copyright{display: flex 
    ;align-items: center;
    padding: 10px;}
.imgcopy{padding: 5px;}
.texcopy{ padding: 5px;}
.footer_centro{
    font-size: var(--text-sm);}

/* Footer */

/*configuaracion de historia*/


/* container*/
.container{ 
    max-width: 1200px;
    margin: 0 auto;}
/* container */

/* Discogradia*/
.discografia-container{
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.title-discografia{display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.disco0{display: flex;
justify-content:space-between;
align-items: center;
flex-wrap: wrap; }

.disco00{display: flex;
justify-content:space-between;
align-items: center;
flex-wrap: wrap; }
.disco01{display: flex;
justify-content:space-between;
align-items: center;
flex-wrap: wrap}

.disco{transition: all 300ms;
transform: scale(1.01);}
/* Discogradia*/

/* Galeria*/

.galeriflex{display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.fotovideo{ display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}

/* Galeria*/
/* Contacto*/

.contactos{ display: flex;
min-height: 100vh;
min-width: 340px;
width: 25%; 
margin: auto;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
align-items: center }

.form{ background-color: var(--primary); 
width: 80%;
max-width: 750px;
border-radius: 2em;
padding: 10.5em 4.5em}

.form-title{ 
background-color: #fffbfb;
text-align: center;
font-size: 1.9;
margin-bottom: .4em;}

.contacto-title{ font-size: var(--text-sm); color: var(--secondary) ;}

.form-container{ width: 100%;
display: grid;
gap: 1em;
grid-auto-columns: 100%;
 }
.form_input{font-family: inherit;
            font-size: 1rem;}
.form_cta{font-family: inherit;
            font-size: 1rem;}
.form_imput_form_imput--mensage{resize: none;
margin-bottom: .5em;}

/* Contacto*/
/* @media */  
    
@media screen and ( max-width: 520px) { 

.grid-historia{
    display: grid;
    grid-template-columns: repeat( auto );
    grid-template-rows: repeat( auto) ;
    align-items: center;
    }

    .titlegrid{grid-column: 2/span 5 ;
                background-position: center;}
    
    .texto1{grid-column: 2/ span 6; font-size: 1.2em}
    
    .fotohisto{grid-column:  2/ span 6;
                width: 110%;
                height: 285px;
                padding: 0;
 }
   
    .texto2{grid-column: 2/span 6}

.bannerindex-container{ 
     background-image: url(../image/Index/LUNA-PARK-3_FEED-600x600.jpg);
    background-position: center top;
    background-size: cover;
    width: 100vw;
    height: 70vh;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}
.galeriflex{display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;}
   
.disco00{display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}   
.disco01{display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.navbar {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.menu { display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em;
    list-style: none;
    display: none;

    align-items: center;
}
.toggle-menu {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    width: 46px;
    height: 50px;
    filter: invert(1);}

.checkevent{position: absolute;
    top: 26px;
    right: 16px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    opacity: 0;}

.checkevent:checked + ul{ display: block; }
}

@media screen and ( min-width: 520px) {
    
    .toggle-menu{ display: none; }
    .checkevent{ display: none;}
}
    


/* @media */  