@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

/* Partial */

@import "./misc/media";

/* Misc*/
@import "./misc/variables";
@import "./misc/normalize";


/* Pages */

@import "./pages/galeria";
@import "./pages/discografia";
@import "./pages/contacto";

@import "./partials/footer";
@import "./partials/header";
