@media screen and ( max-width: 520px) { 


.grid-historia{display: flex;
                align-items: center;
                flex-direction: column;
                .titlegrid{padding: 25px;}
                .texto1{padding: 30px;}
                .fotohisto{ height: 285px; padding: 0;}
                .texto2{padding: 30px;}}
                
                .bannerindex-container{  background-image: url(../../image/Index/LUNA-PARK-3_FEED-600x600.jpg);background-position: center top;background-size: cover;width: 100vw; height: 70vh; opacity: 1; visibility: inherit; z-index: 20;}
                
                .galeriflex{display: flex; align-items: center;justify-content: space-around;flex-direction: column;}
                .disco00{display: flex; align-items: center;flex-wrap: wrap; align-content: center;justify-content: space-evenly; }   
                .disco01{display: flex; align-items: center;flex-wrap: wrap; align-content: center;justify-content: space-evenly;}
                
                .navbar { display: flex; flex-direction: column;align-items: flex-start; flex-direction: row}
                
                    header .navbar .menu {display: flex;gap: 1rem;flex-direction: column; flex-wrap: wrap; padding: 1em; list-style: none; display: none; align-items: center; } 
                
                    .toggle-menu { position: absolute; top: 20px;right: 10px; cursor: pointer; width: 46px; height: 50px; filter: invert(1);}
                    
                    .checkevent{position: absolute;top: 26px;right: 16px; cursor: pointer; width: 35px; height: 35px; opacity: 0;}
                    .checkevent:checked + ul{ display: block; }}

@media screen and ( min-width: 520px) { .menu{display: flex; gap: 1rem; flex-wrap: wrap; display: inline-flex} ;
    .toggle-menu{ display: none; }
    .checkevent{ display: none;}
    .grid-historia{display: grid;
    grid-template-columns: repeat( 4, 1fr 1fr );
    grid-template-rows: repeat( 4, ) ;
    align-items: center;}

    .titlegrid{grid-column: 4/ span 7;
    background-position: center;}
    .texto1{grid-column: 2/span 2;}
    .texto2{grid-column: 2/span 9}
    .fotohisto{grid-column:  span 5; background-size: cover; height: 279px; padding-left: 15%;}
    .bannerindex-container{ background-image:url(/image/Index/pasti2.jpg); background-position: center top; background-size: cover; width: 100vw; height: 100vh; opacity: 1; visibility: inherit; z-index: 20;}
}