
$primary: #d09494;
$secondary: #cda03f;
$light: #fffbfb;
$accent: #8ca028;
$text-xxl: 4.8em;
$text-xl: 3.6em;
$text-lg: 3.2em;
$text-md: 2.2em;
$text-sm: 1.6em;
$text-xs: 1.2em;
$sp-xxl: 12rem;
$sp-xl: 8rem;
$sp-lg: 5rem;
$sp-md: 1rem;
$sp-sm: 1.2rem;
$sp-xs: 0.7rem;
$spacer-2xs: 2px;
$spacer-xs: 5px;
$spacer-s: 10px;
$spacer-m: 20px;
$spacer-l: 40px;
$spacer-xl: 80px;
$spacer-2xl: 160px;


