
.galeriflex{display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
    

.fotovideo{ display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}



